<br />
<br />
<div class="container">
    <br />
    <img src="~/images/faleconosco1.jpg" alt="Fale Conosco" />
    <div class="jumbotron">
        <h2>Quero ouvir o que você tem a dizer</h2>
        <p>
            Se você tiver alguma dúvida ou sugestão ente em contato conosco, Walsh Enterprise.
        </p>
        <p>
            <span class="glyphicon glyphicon-envelope"></span>
            <email endereco="vmw.walsh@gmail.com" conteudo="Enviar email"></email>
            <br />
        </p>
    </div>
</div>

